<div class="container-fluid" class="rules">

    <div class="row justify-content-center">
        <div class="col m-3 text-center">
         <h1 class="m-2">

             hello user !
             all the question carry equal marks, there are total 10 questions.
             you will get 15 min to do all the questions and submit the test.
             relax- there is no negative marking.
             you need to score atleast 7 out of 10 
             
             All the best
         </h1> 
          
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 d-flex justify-content-center">
    <button routerLink="../questions" class="btn m-5 btn-success">start test</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 d-flex justify-content-center">
            <h1>{{result}}</h1>
           
        </div>
    </div>
</div>



