<div class="row">{{min}}:{{sec}}</div>
 <div class="row">

  
<!-- starting of the form -->

   <div class="col qbox">
    <form action="" [formGroup]="qref"  (ngSubmit)="submitquiz(qref)">
     <div *ngFor="let qu of q" >
      <div class="question">
      <h2 class="headq">{{ qu.question}}</h2>


      <div class="inputbox">
       <input type="radio" name="{{qu.question}}" id=""  formControlName="{{qu.question}}" value="{{qu.opt1}}">
        <strong>{{qu.opt1}}</strong>
      </div>


      <div class="inputbox">
        <input type="radio" name="{{qu.question}}" id="" formControlName="{{qu.question}}" value="{{qu.opt2}}">
         <strong>{{qu.opt2}}</strong>
       </div>


       <div class="inputbox">
        <input type="radio" name="{{qu.question}}" id="" formControlName="{{qu.question}}" value="{{qu.opt3}}">
         <strong>{{qu.opt3}}</strong>
       </div>


       <div class="inputbox">
        <input type="radio" name="{{qu.question}}" id="" formControlName="{{qu.question}}" value="{{qu.opt4}}">
         <strong>{{qu.opt4}}</strong>
       </div>
      </div>
     </div>


    <button type="submit" class="btn btn-success p-1 m-2 submit" [disabled]="ifdisabled">submit</button>
 
  </form>
   </div>


   
 

 
 
